table th {
    padding: 0.25em;
    text-align: left;
}

.enhancement-slot {
    height: 30px;
    width: 30px;
    border: solid black 1px;
}

.enhancement-img {
    height: 30px;
    width: 30px;
}

.enhancement-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.enhancement-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.enhancement-effects-name {
    margin: 5px 0;
}

.item-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-tag,
.label-info {
    background-color: goldenrod;
    color: #2f2306;
    padding: 5px;
    border-radius: 5px;
    border: gold 2px groove;
}

.item-enhancement {
    height: 30px;
    width: 30px;
}

.no-margin {
    margin: 0px;
}

.currency {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
}

.weightbar {
    background-color: grey;
    width: 100%;
    height: 12px;
}

.weight-value {
    color: white;
    position: absolute;
    right: 10px;
}

.item-img-wrapper {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 44px;
}

.item-img-wrapper .item-show {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img-wrapper .item-show:hover {
    background: rgba(0, 0, 0, 0.3);
}

.item-img-wrapper .item-show .fa {
    display: none;
    color: rgb(200, 200, 200);
    font-size: 28px;
}

.item-img-wrapper .item-show:hover .fa {
    display: inline-block;
}

.weapon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    margin-top: 10px;
}

.weapon-header h2 {
    margin: 0;
    border: none;
}

.weapon-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
    gap: 10px;
}

.weapon-label {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(4, 1fr);
    gap: 20px;
}

.weapon-details {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.weapon-item {
    flex-direction: column;
}

.reliable-details {
    display: flex;
    align-items: center;
}
